<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Botstack sign up</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
  <!--  <link href="../static/js/jquery.js" rel="script">-->

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <!--<ul class="nav nav-pills pull-right">-->
            <!--<li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li><-->
          </ul>
        </nav>
      </div>

      <div >
        <h1>Bot Stack share</h1>
        <form  action="/signUp" method="post" enctype=multipart/form-data >
        <label for="inputName" >Name</label>
        <input type="text" name="inputName" id="inputName" required autofocus><br><br>
        <label for="inputDescription" >Description </label>
        <input type="text" name="inputDescription" id="inputDescription" size="100" required autofocus><br><br>
   <!--     <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>-->
 <!--       <label for="inputOtherTools" >Tools</label>
        <input type="text" name="otherTools" id="inputOtherTools" required autofocus><br><br>-->
        <label for="inputBotLink" >Bot Link</label>
        <input type="url" name="botLink" id="inputBotLink" required autofocus><br><br>
        <input type="file" accept="image/*" name="botImage" required autofocus><br>
        {% for tool in toolsList %}
        <label><input type="checkbox"  name="toolNames" value="{{tool.name}}"/>{{tool.name}}</label><br>
        {% endfor %}
        <br>
        <button id="btnSignUp" name="signUp"  type="submit">Sign up</button>

      </form>
      </div>
      <footer class="footer">
        <p>&copy; BotStash</p>
      </footer>

    </div>
  </body>
</html>